@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Delete";
}
<div style="margin: 0 auto; width: 90%">
        <h1>Удаление заказа</h1>
@*    <div>
        <h3>Вы уверены, что хотите удалить это?</h3>
    </div>*@
</div>


<div class="diva">
        <table class="tabled">
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.address)
            </th>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
            
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <td>
                @Html.DisplayFor(model => model.Longitude)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <td>
                @Html.DisplayFor(model => model.Latitude)
            </td>
        </tr>
        <tr>
           <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <td>
                @Html.DisplayFor(model => model.status)
            </td>
        </tr>
     
    </table>
    <div class="divb">
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <input type="submit" value="Удалить" class="floating-button" />
        
    </form>
    <a asp-action="Index" class="floating-button">Назад</a>
    </div>
</div>
