@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

Заказов в работе: @ViewBag.Counter
<ul>
@foreach (MapCourier.Models.Delivery a in ViewBag.Delivery)
{
    
    if (a.OrderID is not null)
    {<li>@a.DeliveryID</li>
    <li>@a.OrderID</li>
            <li>@a.UserID</li>
    <form method="post" action="~/Operator">
    <input type="text" name="action" value = "delete" hidden/><br />
    <input type="number" name="deliveryID" value = "@a.DeliveryID" hidden/><br />
    <input type="submit" value="Удалить" class="floating-button" style="width: 200px"/>
    </form>
    }
    }
</ul>


<script>
setTimeout(reload, 1000000);
function reload() {
    location.href=location.href;
}
</script>