@model MapCourier.Models.Storage

@{
    ViewData["Title"] = "Details";
}
<div class="diva">
    <h1>Details</h1>
</div>


<div class="diva">
    <table>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.storageName)
            </th>
            <td>
                @Html.DisplayFor(model => model.storageName)
            </td>
            
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.storageAddress)
            </th>
            <td>
                @Html.DisplayFor(model => model.storageAddress)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <td>
                @Html.DisplayFor(model => model.Longitude)
            </td>
        </tr>
        <tr>
           <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <td>
                @Html.DisplayFor(model => model.Latitude)
            </td>
        </tr>
     
    </table>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.StorageID" class="floating-button">Edit</a>
    <a asp-action="Index" class="floating-button">Back to List</a>
</div>
</div>
